<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Show product" content="width=device-width, initial-scale=1">
        <title>Kum Kaa-mubb | Show Product</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <title>Kum Kaa-mubb | Show Product</title>

    </head>

<body>
<div class="authenticated" style="display: none">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">KUM KAAAMUBB SHOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="right"></ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm"></div>

                </form>
                &nbsp;&nbsp;
                <span id="user" style="color: white">> </span>
                &nbsp;&nbsp;
                <button onClick="logout()" class="btn">Logout</button>
            </div>
        </div>
    </nav>

</div>

    <br>
    <div class="wrapper">
    <div class="container">
            <div class="page-header">
                <article>
                    <h1>
                        <font size="500" color="black"><b><u>SHIPPIPNG ADDRESS</u></b> </font>
                    </h1>
                </article>
              </div>
              <br>
        <form th:action="@{/}" method="POST">
               <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" id="POSTAL">
                        </div>
          <br><br>

          <div>
           <div class="container">
                <div class="col-sm-12">

                    <input type="submit" class="btn btn-primary btn-block" />
                </div>
           </div>
          </div>
                 <br><br>
          </center>
      </div><br><br></form>
    </div>
    </div>
</body>

    <footer class="footer">
        <div class="container">
            <p class="text-muted" align="right"><font color="white">© 2018 'KUM KAA-MUBB' Group. All Rights Reserved</font></p>
        </div>
    </footer>
    <script  src="js/bootstrap.min.js">
        if (window.location.hash == '#_=_'){
            history.replaceState
                ? history.replaceState(null, null, window.location.href.split('#')[0])
                : window.location.hash = '';
        }

        $.get("/user", function(data) {
            $("#user").html(data.userAuthentication.details.name);
            $(".unauthenticated").hide();
            $(".authenticated").show();
        });

        var logout = function() {
            $.post("/logout", function() {
                $("#user").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
            });
            return true;
        }

    </script>
</html>

    
