<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Show product" content="width=device-width, initial-scale=1">
        <title>Kum Kaa-mubb | Show Product</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <title>Kum Kaa-mubb | Show Product</title>
        <div class="header">
                <nav class="navbar navbar-inverse" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="home.html"><font color="#ffcc00">KUM KAA-MUBB</font></a>
                        </div>
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="home.html"><font color="white">
                            <span class="glyphicon glyphicon-home" color="white"></span>&nbsp; HOME</font></a></li>
                          <li><a href="cart.html"><font color="white">
                            <span class="glyphicon glyphicon-shopping-cart" color="white"></span>&nbsp; CART</font></a></li>
                          <li><a href="#"><font color="white">
                            <span class="glyphicon glyphicon-bell" color="white"></span>&nbsp; NOTIFICATION</font></a></li>
                          <li><a href="#"><font color="white">
                            <span class="glyphicon glyphicon-search" color="white"></span>&nbsp; Search product :</font></a></li>
                        </ul>
                        <form class="navbar-form navbar-left" action="/action_page.php">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                          </div>
                          <button type="submit" class="btn btn-default">Search</button>
                        </form>
                            
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                          <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                        </div>

                </nav>
            </div>
        <link rel="stylesheet" type="text/css" href="decoraion.css"/>

    </head>

    <body>
        <!--center-->
        <div class="container">
            <div class="page-header">
                <article>
                    <h1>
                        <font size="500" color="black"><b><u>SHOW PRODUCT</u></b> </font>
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                        <a href="#"><span class="glyphicon glyphicon-shopping-cart" color="#000000"></span></a>
                        
                    </h1>
                </article>
                <br>
                <div class="Product-type">
                <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-default">เสื้อผ้าแฟชั่น</a>
                  <a href="#" class="btn btn-default">มือถือและอุปกรณ์</a>
                  <a href="#" class="btn btn-default">เครื่องประดับและความงาม</a>
                  <a href="#" class="btn btn-default">เครื่องใช้ในบ้าน</a>
                  <a href="#"" class="btn btn-default">สินค้าแม่และเด็ก</a>
                  <a href="clockGlass.html" class="btn btn-default">นาฬิกาและแว่นตา</a>
                  <a href="#" class="btn btn-default">กระเป๋า</a>
                </div>
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-default">รองเท้า</a>
                    <a href="#"" class="btn btn-default">คอมพิวเตอร์และแล็ปท็อป</a>
                    <a href="#" class="btn btn-default">อุปกรณ์ถ่ายภาพ</a>
                    <a href="#" class="btn btn-default">อุปกรณ์กีฬา</a>
                    <a href="#" class="btn btn-default">เครื่องใช้ไฟฟ้า</a>
                    <a href="#" class="btn btn-default">สัตว์เลี้ยง</a>
                    <a href="#" class="btn btn-default">อื่นๆ</a>
                </div>
            </div>
                <br>


                <div class="Suggest Product">
                <h2><font color="black"><b><u>สินค้าแนะนำ</u></b> </font></h2>
                    <span class="glyphicon glyphicon-chevron-down" color="black"></span>
                </div>

                <div class="row text-center">
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                </div>

                <div class="row text-center">
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <img src="../img/sweater.jpg" alt="sweater" title="เสื้อกันหนาว SWEATER" width="200" height="100">
                      <h4><strong>เสื้อกันหนาว SWEATER</strong></h4>
                      <h5><strong>แบรนด์ EIEI หลากหลายสี</strong></h5>
                      <h2><font color="#E67E22"><b>฿199</b></font></h2> 
                      <p align="left">&nbsp;&nbsp; <span class="glyphicon glyphicon-heart-empty" color="#000000">130 </span></p>
                      <a href="viewProductDetail.html"><button class="btn">VIEW</button></a>&nbsp;&nbsp;<button class="btn">BUY</button>
                    </div>
                  </div>
                  </div>
                </div>

            </div>

        <!--/center-->
    </body>

    <footer class="footer">
        <!--div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th>
                        <font color="white"></font>วิธีการชำระเงิน</font>
                    </th>
                    <th>
                        <font color="white">บริการจัดส่ง
                        <br>
                        <img src="ksk.png" alt="sweater" width="30" height="30">
                        <img src="SCB.jpg" alt="sweater" width="30" height="30">
                        <img src="ks.png" alt="sweater" width="30" height="30">
                        <img src="kt.png" alt="sweater" width="30" height="30">
                        <img src="กรุงเทพ.png" alt="sweater" width="30" height="30">
                    </th>
                    <th>
                        <font color="white">ติดตามเรา</font>
                    </th>
                  </tr>
                </thead>
            </table>
        </div>
            <div class="container">
                <p class="text-muted" align "right"><font color="white">Written by 'KUM KAA-MUBB' Group</font></p>
            </div-->

            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                  <table class="table">
                <thead>
                  <tr>
                    <th>
                        <font color="white">วิธีการชำระเงิน</font><br>
                        <br>
                        <img src="ksk.png" alt="sweater" width="30" height="30">
                        <img src="SCB.jpg" alt="sweater" width="30" height="30">
                        <img src="ks.png" alt="sweater" width="30" height="30">
                        <img src="kt.png" alt="sweater" width="30" height="30"><br>
                        <img src="กรุงเทพ.png" alt="sweater" width="30" height="30">
                        <img src="visa.png" alt="sweater" width="90" height="30">
                        <img src="cash-on-delivery.png" alt="sweater" width="30" height="30">
                    </th>
                    <th>
                        <font color="white">บริการจัดส่ง</font>
                        <br>
                        <br>
                        <img src="Facebook.png" alt="sweater" width="90" height="30">
                        <img src="instagram.png" alt="sweater" width="90" height="100">
                        <img src="instagram.png" alt="sweater" width="90" height="100">
                        
                    </th>
                    <th>
                        <font color="white">ติดตามเรา</font>
                    </th>
                  </tr>
                </thead>
            </table>
                <div class="container">
                <p class="text-muted" align="right"><font color="white">© 2018 'KUM KAA-MUBB' Group. All Rights Reserved</font></p>
                </div>

              </div>
            </nav>
        </footer>
        <script src="js/bootstrap.min.js"></script>
 
</html>