<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Show product" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Kum Kaa-mubb | Show Product</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>Kum Kaa-mubb | Show Product</title>
        <div class="header">
                <nav class="navbar navbar-inverse" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="home.html"><font color="#ffcc00">KUM KAA-MUBB</font></a>
                        </div>
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="home.html"><font color="white">
                            <span class="glyphicon glyphicon-home" color="white"></span>&nbsp; HOME</font></a></li>
                          <li><a href="YourCart.html"><font color="white">
                            <span class="glyphicon glyphicon-shopping-cart" color="white"></span>&nbsp; CART</font></a></li>
                          <li><a href="#"><font color="white">
                            <span class="glyphicon glyphicon-bell" color="white"></span>&nbsp; NOTIFICATION</font></a></li>
                          <li><a href="#"><font color="white">
                            <span class="glyphicon glyphicon-search" color="white"></span>&nbsp; Search product :</font></a></li>
                        </ul>
                        <form class="navbar-form navbar-left" action="/action_page.php">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                          </div>
                          <button type="submit" class="btn btn-default">Search</button>
                        </form>
                            
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> #SHOW_USER_NAME </a></li>
                            <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
                        </ul>
                        </div>

                </nav>
            </div>
       <link rel="stylesheet" type="text/css" href="decoraion.css"/>
</head>

    <body>
        <div class="container">
            <div class="page-header">
                <article>
                    <h1>
                        <font size="500" color="black"><b><u>YOUR ORDER : </u></b> </font>
                    </h1>
                </article>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>PRODUCT NAME :</th>
                        <th>PRICE/PIECE</th>
                        <th>AMOUNT</th>
                        <th>PRICE</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Cloth</td>
                        <td>100</td>
                        <td>1</td>
                        <td>100</td>
                      </tr>
                      <tr>
                        <td>bag</td>
                        <td>200</td>
                        <td>2</td>
                        <td>400</td>
                      </tr>
                      <tr>
                        <td>Shoes</td>
                        <td>300</td>
                        <td>2</td>
                        <td>600</td>
                      </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>TOTAL PRICE : </td>
                            <td>1100</td>
                        </tr>

                    </tbody>
                  </table>
                  <p align="right">
                  <div class="container" align="right">
                
                        <button type="button" class="btn btn-primary btn-lg">BUY</button>
                    
                </div>
            </p>
            </div>
        </div>
        </div>
        <div class="Credit">
        <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" style="background-color:pink;"><h4>Credit / Debit Card </h4> <br><br>
            
            <div class="col-sm-5">
            <p font-size="4">Card holder name</p>
            <input type="text" placeholder="Enter Card holder name" name="name" required>

            <br><br>

            <p font-size="4">Card number</p>
            <input type="number" placeholder="Enter Card number" name="no" required>

            <br><br>

            <p font-size="4">Invalid date</p>
            <input type="number" placeholder="MM" name="MM" required> &nbsp; &nbsp;
            <input type="number" placeholder="YYYY" name="YYYY" required>

            <br><br>

            <p font-size="4">CVV</p>
            <input type="number" placeholder="Enter CVV" name="CVV" required>

            <br><br>
            </div>


        
        
            <div class="col-sm-5">
            <div class="Confirm">
            <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-2"><br><br><br><br><p align="center"><button id="button" type="submit" class="button">Pay</button></p></div>
            <div class="col-sm-2s"></div>
            </div>
            </div>
            </div>

        </div>
    </div>
</div>
</body>
        <footer>
        <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                    <div class="container"><br>
                        <p class="text-muted" align="right"><font color="white">© 2018 'KUM KAA-MUBB' Group. All Rights Reserved</font></p>
                    </div>
                </div>
            </nav>
    </footer>
</html>