<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Login" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Kum Kaa-mubb | Show Product</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>Kum Kaa-mubb | SIGNIN</title>
        <!--div class="header">
                <nav class="navbar navbar-inverse" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="#"><font color="#ffcc00">KUM KAA-MUBB</font></a>
                        </div>
                        </div>

                </nav>
            </div-->
    </head>

    <body>
    <br><br>
        <center>
        <div class="container">
            <div class="col-sm-4">
                <img src="../img/page.png" class="img-circle" alt="Cinque Terre" width="550" height="500">
            </div>
            <center>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <br><br><br><br><br>
                    <div class="page-header">
                        <p align="center">
                            <article>
                                <h1>
                                    <font size="500" color="black"><b><u><p align="center">LOG IN</p></u></b> </font>
                        </h1>
                        </article><br>

                        </p>
                    </div>
                    <button type="button" class="btn btn-primary btn-block">LOGIN WITH FACEBOOK</button>
                </div>
            </center>


             </div>
            </div>
        </center>
    </body>

     <footer class="footer">
        <br>
        
        <div class="container">
                <p class="text-muted" align="right"><font color="white">© 2018 'KUM KAA-MUBB' Group. All Rights Reserved</font></p>
                </div>

              </div>
            </nav>
        </footer>
        <script src="js/bootstrap.min.js"></script>
 
</html>